/node_modules
/vendor
/.git
/.env
/.env.*
/tests
/.agents
/.claude
/.ai
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing
/bootstrap/cache/*.php
*.md
.phpunit.result.cache
.opencode
